---
import { Icon } from "astro-icon/components";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  baseUrl: string;
  id: string;
  title: string;
  description: string;
  heroImage?: string;
  publishedAt?: Date;
  author?: string;
  tags?: string;
}

const {
  baseUrl,
  title,
  description,
  heroImage = "/images/og-image.png",
  id,
  publishedAt,
} = Astro.props;
---

<article
  class="bg-white rounded-lg shadow hover:shadow-md transition overflow-hidden"
>
  <img src={heroImage} alt="Blog cover" class="w-full h-48 object-cover" />
  <div class="pt-4 px-4">
    <h2 class="text-lg font-semibold text-gray-900 mb-2 line-clamp-1">
      {title}
    </h2>
    <p class="text-sm text-gray-600 line-clamp-2">{description}</p>
  </div>
  <footer class="mt-2 py-2 px-4 flex justify-between items-center">
    <div class="flex items-center gap-x-2 text-xs py-2 px-3">
      {publishedAt && <FormattedDate date={publishedAt} />}
      <span
        :to="'#'"
        class="relative z-10 rounded-md bg-primary-200 px-3 py-1.5 font-medium text-base-500 hover:bg-secondary-100"
        >Category</span
      >
    </div>
    <a
      href={`${baseUrl}/${id}/`}
      class="btn btn-sm btn-primary btn-ghost font-medium hover:btn-default"
    >
      <span>Read more</span>
      <Icon name="mdi:arrow-right-thin" class="text-xs" />
    </a>
  </footer>
</article>
