---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, publishedAt, updatedAt, heroImage } = Astro.props
---

<main>
  <article>
    <div class="hero-image">
      {heroImage && <img width={320} height={240} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={publishedAt} />
          {
            updatedAt && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedAt} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <div>{description}</div>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</main>
