---
import type { CollectionEntry } from "astro:content";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { processTags } from "@/utils/content";
import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"article">["data"];
type Frontmatter = Props & {
  frontmatter: Props;
};
const { frontmatter } = Astro.props as Frontmatter;
---

<MainLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.heroImage}
>
  <div class="w-full px-8">
    <div class="lg:max-w-6xl mx-auto pt-8">
      <Breadcrumbs />
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-4 pb-4">
    <article class="pt-8 pb-4 flex flex-col items-center">
      {
        frontmatter.heroImage && (
          <div class="flex justify-center mb-8">
            <div class="hero-image">
              <img
                class="h-62.5 w-160 object-cover rounded-lg shadow-md hover:shadow-xl transition-all duration-300"
                src={frontmatter.heroImage}
                alt="blog-image"
              />
            </div>
          </div>
        )
      }
      <div class="prose lg:min-w-3xl">
        <div class="flex justify-center">
          <div class="title w-full">
            <div class="date flex gap-4">
              <FormattedDate date={frontmatter.publishedAt} />
              {
                frontmatter.updatedAt && (
                  <div class="last-updated-on">
                    Updated At: <FormattedDate date={frontmatter.updatedAt} />
                  </div>
                )
              }
              {frontmatter.author && <spna>{frontmatter.author}</spna>}
            </div>
            <h1 class="line-clamp-2">{frontmatter.title}</h1>
            <div class="line-clamp-3">{frontmatter.description}</div>
            <div class="py-1 space-x-2">
              {
                processTags(frontmatter.tags).map((tag) => (
                  <span class="text-sm capitalize text-primary-700 font-normal shadow-xs hover:shadow-sm rounded-sm bg-primary-100 px-3 py-1.5">
                    {tag}
                  </span>
                ))
              }
            </div>
            <hr />
          </div>
        </div>
        <slot />
      </div>
    </article>
  </div>
</MainLayout>
