---
import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_TITLE } from '@/consts'

interface Props {
  title: string
  description?: string
  image?: string
  class?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const { title, description, image, class: clazz } = Astro.props
const { url, site } = Astro
const openGraphImageUrl = new URL(
  image ?? '/images/og-image.png',
  Astro.url,
).toString()
// const tagId = import.meta.env.TAG_ID
// const tagManagerId = import.meta.env.PUBLIC_TAG_MANAGER_ID
const layoutTitle = `${title} :: ${SITE_TITLE} | ${SITE_DESCRIPTION}`
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/logo.svg">
    <meta name="generator" content={Astro.generator}>
    <meta name="description" content="Site description">

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{layoutTitle}</title>
    <meta name="title" content={layoutTitle}>
    <meta name="description" content={description}>
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta name="author" content={SITE_AUTHOR}>
		<meta name="copyright" content="drolx-source-1.0" >
    <meta name="keywords" content="drolx, software, tech, development, software solution, sass, product development, devOps, logistics, telematics, gps tracking">
    <link rel="icon" href="/favicon.ico" />
    <meta name="color-scheme" content="light">
    <meta name="theme-color" content="#281588">
    <meta property="og:url" content={`${site}${url}`}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={layoutTitle}>
    <meta property="og:image" content={openGraphImageUrl}>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@drolxLabs">
    <meta name="twitter:title" content={layoutTitle}>
    <meta name="twitter:image" content={openGraphImageUrl}>

    <script>
      import 'flowbite';
    </script>

    <!-- Google tag (gtag.js) -->
    <!-- <script type="text/partytown" is:inline async src={'https://www.googletagmanager.com/gtag/js?id=G-TV4J9YCNL0'}></script>
    <script type="text/partytown" is:inline define:vars={{ tagId, tagManagerId }}>
        // Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-TV4J9YCNL0');

        // Before GTM code
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }

        // Google Tag Manager
        (function (w, d, s, l, i) {
        console.log("GTM");
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TDRZ8NRG");
    </script>
    -->

    <!-- support chat script -->
    <!--
    <script type="text/javascript" is:inline>
      window.chatwootSettings = {"position":"right","type":"standard","launcherTitle":"Chat with us"};
      (function(d,t) {
        var BASE_URL="https://sp.drolx.com";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        g.defer = true;
        g.async = true;
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: 'g3pLgjWBeP4zGFPCRGgPAqht',
            baseUrl: BASE_URL
          })
        }
      })(document,"script");
    </script>
    -->

    <!-- drolx Tracking Snippet -->
    <script src="https://analytics.drolx.com/api/script.js" data-site-id="1" defer></script>
    </head>
  <body class:list={[
		  clazz,
	    'scrollbar scrollbar-w-1 scrollbar-thumb-rounded-[0.25rem]',
	    'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
	    'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
  ]}>
    <!-- Google Tag Manager (noscript) -->
    <!--
    <noscript>
      <iframe
        src={'https://www.googletagmanager.com/ns.html?id=GTM-TDRZ8NRG'}
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    -->
    <slot />
  </body>
</html>
<style is:global></style>
