---
import { Icon } from 'astro-icon/components';
import { BASE_ARTICLE_PATH, BASE_CASE_STUDY_PATH } from '@/consts';
import type { RouteItem } from '@/types';

export const serviceRoutes: RouteItem[] = [
	{
		url: '/services/software-development',
		label: 'Software Development',
	},
	{
		url: '/services/cloud-solutions',
		label: 'Cloud Solutions',
	},
	{
		url: '/services/iot-solutions',
		label: 'IOT Solutions',
	},
	{
		url: '/services/cloud-security',
		label: 'Cloud Security',
	},
	{
		url: '/services/digital-transformation',
		label: 'Digital Transformation',
	},
];

export const companyRoutes: RouteItem[] = [
	{
		url: '/company/about-us',
		label: 'About Us',
	},
	{
		url: '/company/contact',
		label: 'Contact',
	},
	{
		url: '/company/our-customers',
		label: 'Customers',
	},
	{
		url: '/company/partners',
		label: 'Partners',
	},
];

const menuLists: RouteItem[] = [
	{
		url: '/',
		label: 'Home',
	},
	{
		url: '/products',
		label: 'Products',
	},
	{
		url: '/services',
		label: 'Services',
		children: serviceRoutes,
	},
	{
		url: '/company',
		label: 'Company',
		children: companyRoutes,
	},
	{
		url: '/resources',
		label: 'Resources',
		children: [
			{
				url: BASE_CASE_STUDY_PATH,
				label: 'Case Studies',
			},
			{
				url: BASE_ARTICLE_PATH,
				label: 'Articles',
			},
			{
				url: '/resources/faqs',
				label: "FAQ's",
			},
		],
	},
];

function menuIsActive(path: string): boolean {
	const currentPath = Astro.url.pathname;
	const isHome = currentPath === '/' || currentPath === '' ||  currentPath.startsWith('/#');

	if (path === '/') {
		return isHome;
	}

	if (isHome) {
		return false;
	}

	return currentPath.startsWith(path);
}
---

<div class="drawer sticky top-0 z-99">
  <input id="mobile-drawer" type="checkbox" class="drawer-toggle" />
  <div class="w-full bg-neutral-500 drawer-content flex flex-col">
    <nav class="navbar text-neutral-800 px-4 lg:px-16 py-1 shadow-sm">
      <div class="mx-auto container flex items-center justify-between">
        <!-- LOGO -->
        <a href="/" class="flex items-center">
          <Icon name="logo" class="h-8 lg:h-12 w-auto" />
        </a>

        <div class="hidden md:block">
          <ul class="menu menu-md menu-horizontal px-1 space-x-2">
            {
              menuLists.map((menu) =>
                !menu.children ? (
                  <li>
                    <a
                      class={`py-3 px-4 rounded-lg hover:bg-primary-300 ${menuIsActive(menu.url) ? "menu-active bg-base-100 text-primary" : ""}`}
                      href={menu.url}
                    >
                      {menu.label}
                    </a>
                  </li>
                ) : (
                  <li class={`dropdown dropdown-hover`}>
                    <details>
                      <summary
                        class={`${menuIsActive(menu.url) ? "menu-active bg-base-100 text-primary" : ""} px-4 py-3 rounded-lg hover:bg-primary-300 focus:transparent`}
                      >
                        {menu.label}
                      </summary>
                      <ul class="dropdown-content bg-base-100 text-neutral-800 space-x-2 p-2 min-w-[200px]">
                        {menu.children &&
                          menu.children.length > 0 &&
                          menu.children.map((childMenu) => (
                            <li
                              class={`mb-2 rounded-lg hover:bg-primary-300 ${menuIsActive(childMenu.url) ? "menu-active bg-secondary-400" : ""}`}
                            >
                              <a href={childMenu.url}>{childMenu.label}</a>
                            </li>
                          ))}
                      </ul>
                    </details>
                  </li>
                ),
              )
            }
          </ul>
        </div>
        <div class="hidden md:flex items-center gap-4">
          <a class="btn btn-primary rounded-lg hover:btn-accent" href="/schedule-call">
            {"Schedule Call"}
          </a>
        </div>
        <div class="flex-none lg:hidden">
          <label
            for="mobile-drawer"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
          >
            <Icon name="menu" class="text-2xl" />
          </label>
        </div>
      </div>
    </nav>
  </div>

  <!-- Mobile Menu -->
  <div class="drawer-side z-90">
    <label for="mobile-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 rounded-box min-h-full w-64">
      <li>
        <div class="mb-8 flex justify-center items-center p-8 w-full">
          <a
            href="/schedule-call"
            class="btn btn-primary hover:btn-accent w-full text-white rounded-md"
            >{"Schedule Call"}</a
          >
        </div>
      </li>
      {
        menuLists.map((menu) =>
          !menu.children ? (
            <li>
              <a href={menu.url}>{menu.label}</a>
            </li>
          ) : (
            <li>
              <span class="menu-dropdown-toggle menu-dropdown-show">
                {menu.label}
              </span>
              <ul class="menu-dropdown menu-dropdown-show">
                {menu.children &&
                  menu.children.length > 0 &&
                  menu.children.map((childMenu) => (
                    <li>
                      <a href={childMenu.url}>{childMenu.label}</a>
                    </li>
                  ))}
              </ul>
            </li>
          ),
        )
      }
    </ul>
  </div>
</div>
