---
import type { RouteItem } from "@/types";
import { Icon } from "astro-icon/components";
import LandingText from "@/data/landing-text.json";
import SubscribeButton from "@/components/SubscribeButton.astro";

const year = new Date().getFullYear();
const companyRoutes: RouteItem[] = [
  { label: "About Us", url: "/company/about" },
  { label: "Case Studies", url: "/case-studies" },
  { label: "Solutions", url: "/solutions" },
  { label: "Our Clients", url: "/company/our-clients" },
  { label: "Partners", url: "/company/partners" },
];
const resourceRoutes: RouteItem[] = [
  { label: "Articles", url: "/articles" },
  { label: "Support Center", url: "/support" },
  { label: "Contact", url: "/support/contact" },
  { label: "FAQ's", url: "/support/faqs" },
  { label: "Status", url: "#" },
];
const serviceRoutes: RouteItem[] = [
  { label: "Product Development", url: "#" },
  { label: "Cloud Infrastructure", url: "#" },
  { label: "Digital Transformation", url: "#" },
  { label: "Cloud Security", url: "#" },
];
const extraRoutes: RouteItem[] = [
  { label: "Licenses", url: "/licenses" },
  { label: "Terms", url: "/terms-of-service" },
  { label: "Privacy Policy", url: "/privacy-policy" },
  { label: "Cookies", url: "/cookies" },
];
---

<footer class="bg-secondary-600">
  <div class="container mx-auto px-6 lg:px-0 pb-8 pt-16">
    <div class="flex flex-col md:flex-row gap-8">
      <!-- Left Content -->
      <div class="lg:max-w-96 flex flex-col gap-8 sm:justify-center">
        <a href="#" class="self-center md:self-auto">
          <Icon name="logow" class="h-16 w-auto" />
        </a>
        <p class="max-w-sm text-white">{LandingText.tagLine}</p>
        <SubscribeButton />
      </div>

      <!-- Right Navigation -->
      <div class="flex-1 grid grid-cols-1 gap-6 lg:grid-cols-4 px-4 lg:px-0">
        <div>
          <p class="text-lg font-bold text-white">{"Products"}</p>
          <div class="mt-5 flex flex-col items-start space-y-2">
            {
              ["ello 360", "ello Trac", "We School"].map((item) => (
                <a
                  href="#"
                  class="text-white transition-colors duration-300 hover:text-blue-500"
                >
                  {item}
                </a>
              ))
            }
          </div>
        </div>
        <div>
          <p class="text-lg font-semibold text-white">{"Company"}</p>
          <div class="mt-5 flex flex-col items-start space-y-2">
            {
              companyRoutes.map((item) => (
                <a
                  href={item.url}
                  class="text-white transition-colors duration-300 hover:text-blue-500"
                >
                  {item.label}
                </a>
              ))
            }
          </div>
        </div>
        <div>
          <p class="text-lg font-semibold text-white">{"Resources"}</p>
          <div class="mt-5 flex flex-col items-start space-y-2">
            {
              resourceRoutes.map((item) => (
                <a
                  href={item.url}
                  class="text-white transition-colors duration-300 hover:text-blue-500"
                >
                  {item.label}
                </a>
              ))
            }
          </div>
        </div>
        <div>
          <p class="text-lg font-semibold text-white">{"Services"}</p>
          <div class="mt-5 flex flex-col items-start space-y-2">
            {
              serviceRoutes.map((item) => (
                <a
                  href={item.url}
                  class="text-white transition-colors duration-300 hover:text-blue-500"
                >
                  {item.label}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4 border-white md:my-8" />
    <div class="mb-16 flex gap-3 justify-center self-center lg:self-end">
      {
        [
          { url: "https://x.com/drolxLab", icon: "mdi:twitter" },
          { url: "https://facebook.com/drolxLab", icon: "mdi:facebook" },
          { url: "https://instagram.com/drolxLab", icon: "mdi:instagram" },
          {
            url: "https://linkedin.com/company/drolx-lab",
            icon: "mdi:linkedin",
          },
        ].map((item) => (
          <a
            href={item.url}
            class="text-white transition-colors duration-300 hover:text-secondary-300"
          >
            <Icon name={item.icon} class="size-8" />
          </a>
        ))
      }
    </div>
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="mt-4 text-sm text-white sm:mt-0">
        &copy; {"drolx Lab"}
        {year}, All Rights Reserved.
      </p>
      <div class="flex mt-3 -mx-2 sm:mt-0">
        {
          extraRoutes.map((item) => (
            <a
              href={item.url}
              class="mx-2 text-sm text-white"
              aria-label={item.label}
            >
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>

<style>
  svg path {
    fill: #fff;
  }

  [astro-icon="logo"] [fill="currentColor"] {
    fill: #fff;
  }
</style>
